@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 12%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 0, 0%, 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 218, 11%, 65%;

    --accent: 0, 0%, 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 5% 17.5%;
    --input: 212.7 26.8% 83.9%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.custom-styles .excalidraw {
  --color-primary: #fcc6d9;
  --color-primary-darker: #f783ac;
  --color-primary-darkest: #e64980;
  --color-primary-light: #f2a9c4;
}

.custom-styles .excalidraw.theme--dark {
  --color-primary: #d494aa;
  --color-primary-darker: #d64c7e;
  --color-primary-darkest: #e86e99;
  --color-primary-light: #dcbec9;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: bg-background;
}

@font-face {
  font-family: "Virgil";
  src: local("Virgil"),
    url("./fonts/Virgil.woff2") format("truetype");
}

:root {
  --app-font-family: 'Lato', sans-serif;
}

body {
  font-family: var(--app-font-family);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loadingBarContainer {
  background-color: #fff;
  /* White background */
  border: 2px solid #000;
  /* Black border */
  height: 20px;
  width: 100%;
  /* Adjust based on your layout */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centers the percentage text */
  margin-top: 4px;
  /* Space between the text and the bar */
  color: #000;
  /* Text color */
  font-size: 14px;
  /* Adjust the font size as needed */
}

.loadingBarProgress {
  background-color: #000;
  /* Black fill */
  height: 100%;
  width: 0%;
  /* Start with no fill */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /* Ensure it's under the text */
}

.loadingBarText {
  z-index: 2;
  /* Ensure the text is above the progress bar */
  position: relative;
  /* Important for z-index to take effect */
}
